body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 40px;
}

input, button {
  padding: 12px;
  margin: 8px;
  font-size: 16px;
}

button {
  cursor: pointer;
}

.menu {
  margin-top: 30px;
}

.menu a {
  display: block;
  margin: 15px auto;
}

.menu button {
  width: 220px;
  background: gold;
  border: none;
  border-radius: 10px;
}