body {
  background: #0b0f1a;
  color: white;
  font-family: Arial;
  text-align: center;
}

/* GRID */
.grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin: 20px 0;
}

.row {
  display: flex;
  gap: 10px;
}

/* CASILLAS */
.reel {
  width: 80px;
  height: 80px;
  background: #111;
  border: 2px solid #333;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.reel img {
  width: 70px;
  height: 70px;
}

/* EFECTOS DE GANANCIA */
.win {
  border-color: #00ff99;
  box-shadow: 0 0 10px #00ff99;
}

.win-mid {
  border-color: #00ccff;
  box-shadow: 0 0 12px #00ccff;
}

.win-high {
  border-color: #ffcc00;
  box-shadow: 0 0 14px #ffcc00;
}

.win-jackpot {
  border-color: red;
  box-shadow: 0 0 18px red;
}

/* BOTÓN */
button {
  padding: 10px 20px;
  font-size: 18px;
  background: gold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: orange;
}

/* INPUT */
input {
  padding: 8px;
  font-size: 16px;
  width: 100px;
  text-align: center;
}